@use "mixingfunc";

#rectangle {
  @include mixingfunc.measures(299px, 1024px, 0px, 0px);

  background: #ebebeb;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 20px 20px 0px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    @include mixingfunc.measures(232.5px, 0px, 34px, 598.5px);
    border: 1px solid #000000;
  }

  .logo {
    position: absolute;
    @include mixingfunc.measures(230px, 99px, 35px, 19px);
    background: url("/src/public/charlotte.PNG");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.content {
  margin-top: 220px;
  margin-bottom: 156px;

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 22.5px;

    li {
      list-style: none;
      margin-bottom: 15px;
      height: 38px;
      /*  background-color: aqua; */
      &:hover {
        width: 282px;
        height: 46px;
        background: #8eaaff;
        border-radius: 50px 0px 0px 50px;
        text-align: center;
        transition: all 0.4s ease;
      }

      a {
        text-decoration: none;
        @include mixingfunc.font-style(
          Poppins,
          normal,
          600,
          25px,
          38px,
          center
        );

        color: #000000;
        padding: 0;
        margin: 0;
      }
    }
  }
}

.press {
  width: 282px;
  height: 46px;
  background: #8eaaff;
  border-radius: 50px 0px 0px 50px;
  text-align: center;
  transition: all 0.4s ease;
}
