<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">

        <section id="rectangle">
            <a href="" class="logo"></a>
            <div class="content">
                <ul class="list">
                    <li><a href="">Students</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">Courses</a></li>
                    <li><a href="">Activities</a></li>
                    <li><a href="">Resources</a></li>
                    <li><a href="">Certificates</a></li>
                    <li><a href="">Perzonalized classes</a></li>

                </ul>
                <ul class="list">
                    <li><a href="">Promotions</a></li>
                    <li><a href="">Membersips</a></li>
                    <li><a href="">Referrals</a></li>
                    <li><a href="">Sponsors</a></li>
                    <li class="press"><a href="./index.html">Reviews</a></li>
                </ul>
            </div>
        </section>

        <section id="nav">
            <div class="boton">
                <a href="./index.html" class="boton-nav-3">Published</a>

                <a href="./comment.html" class="boton-nav-4">In list</a>
            </div>
            <div>
                <i class="fas fa-bell"></i>
                <i class="far fa-envelope"></i>
                <a href="" class="profile"></a>
            </div>

        </section>

        <section id="cont-comments">
            <p class="title-comment">Reviews</p>
            <div class="comments">
                <p class="name">Alberto Barrera</p>
                <p class="type">Facebook</p>
                <p class="ago">3 hours ago..</p>

                <p class="comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat distinctio harum
                    illum
                    consequatur! Minima in molestiae omnis repudiandae quibusdam facere, nisi at consectetur amet
                    recusandae, possimus sapiente cum officia explicabo!</p>
                <button class="btn-share">share in Charlotte</button>
            </div>
            <div class="comments">
                <p class="name">Carlos Santana</p>
                <p class="type">Instagram</p>
                <p class="ago">2 hours ago..</p>

                <p class="comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat distinctio harum
                    illum
                    consequatur! Minima in molestiae omnis repudiandae quibusdam facere, nisi at consectetur amet
                    recusandae, possimus sapiente cum officia explicabo!</p>
                <button class="btn-share">share in Charlotte</button>
            </div>

            <div class="comments">
                <p class="name">Juan Rodrigez</p>
                <p class="type">Instagram</p>
                <p class="ago">1 hours ago..</p>

                <p class="comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat distinctio harum
                    illum
                    consequatur! Minima in molestiae omnis repudiandae quibusdam facere, nisi at consectetur amet
                    recusandae, possimus sapiente cum officia explicabo!</p>
                <button class="btn-share">share in Charlotte</button>

            </div>

        </section>


    </div>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous"></script>

</body>

</html>