<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Charlotte</title>
</head>

<body>

    <div class="container">

        <section id="rectangle">
            <a href="" class="logo"></a>
            <div class="content">
                <ul class="list">
                    <li><a href="">Students</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">Courses</a></li>
                    <li><a href="">Activities</a></li>
                    <li><a href="">Resources</a></li>
                    <li><a href="">Certificates</a></li>
                    <li><a href="">Perzonalized classes</a></li>

                </ul>
                <ul class="list">
                    <li><a href="">Promotions</a></li>
                    <li><a href="">Membersips</a></li>
                    <li><a href="">Referrals</a></li>
                    <li><a href="">Sponsors</a></li>
                    <li class="press"><a href="/src/views/index.html">Reviews</a>
                </ul>
            </div>
        </section>

        <section id="nav">
            <div class="boton">
                <a href="./index.html" class="boton-nav">Published</a>

                <a href="./comment.html" class="boton-nav-2">In list</a>
            </div>
            <div>
                <i class="fas fa-bell"></i>
                <i class="far fa-envelope"></i>
                <a href="" class="profile"></a>
            </div>

        </section>

        <section id="tabla">
            <div class="tab">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>Reviews title</th>
                        <th>Mention</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <td>38691</td>
                        <td>National Data Consulttant</td>
                        <td>Alysha</td>
                        <td>Executive</td>
                        <td>
                            <div class="icons">
                                <i class="far fa-dot-circle "></i>
                                <i class="fas fa-pen"></i>
                                <i class="far fa-times-circle remove"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>38691</td>
                        <td>National Data Consulttant</td>
                        <td>Alysha</td>
                        <td>Executive</td>
                        <td>
                            <div class="icons">
                                <i class="far fa-dot-circle"></i>
                                <i class="fas fa-pen"></i>
                                <i class="far fa-times-circle remove"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>38691</td>
                        <td>National Data Consulttant</td>
                        <td>Alysha</td>
                        <td>Executive</td>
                        <td>
                            <div class="icons">
                                <i class="far fa-dot-circle"></i>
                                <i class="fas fa-pen"></i>
                                <i class="far fa-times-circle remove"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>38691</td>
                        <td>National Data Consulttant</td>
                        <td>Alysha</td>
                        <td>Executive</td>
                        <td>
                            <div class="icons">
                                <i class="far fa-dot-circle"></i>
                                <i class="fas fa-pen"></i>
                                <i class="far fa-times-circle remove"></i>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>38691</td>
                        <td>National Data Consulttant</td>
                        <td>Alysha</td>
                        <td>Executive</td>
                        <td>
                            <div class="icons">
                                <i class="far fa-dot-circle"></i>
                                <i class="fas fa-pen"></i>
                                <i class="far fa-times-circle remove"></i>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>81864</td>
                        <td>Senior Intranet Planner</td>
                        <td>Aurelie</td>
                        <td>Developer</td>
                        <td>
                            <div class="icons">
                                <i class="far fa-dot-circle"></i>
                                <i class="fas fa-pen"></i>
                                <i class="far fa-times-circle remove"></i>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>75568</td>
                        <td>Future Web Liaison</td>
                        <td>Antonia</td>
                        <td>Coordinator</td>
                        <td>
                            <div class="icons">
                                <i class="far fa-dot-circle"></i>
                                <i class="fas fa-pen"></i>
                                <i class="far fa-times-circle remove"></i>
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td>75568</td>
                        <td>Future Web Liaison</td>
                        <td>Antonia</td>
                        <td>Coordinator</td>
                        <td>
                            <div class="icons">
                                <i class="far fa-dot-circle"></i>
                                <i class="fas fa-pen"></i>
                                <i class="far fa-times-circle remove"></i>
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td>75568</td>
                        <td>Future Web Liaison</td>
                        <td>Antonia</td>
                        <td>Coordinator</td>
                        <td>
                            <div class="icons">
                                <i class="far fa-dot-circle"></i>
                                <i class="fas fa-pen"></i>
                                <i class="far fa-times-circle remove"></i>

                            </div>

                        </td>

                    </tr>
                </table>
            </div>
            <a href="new-review.html" class="btn">Agg new Reviews</a>

        </section>

        <section id="modal-container">
            <div class="modal modal-close">
                <h3 class="title-modal">National Data Consultant</h3>
                <div class="close"><i class="fas fa-times-circle"></i></div>
                <p class="mention-modal">Alysha A. Jones</p>
                <p class="type-modal">Executive</p>
                <p class="parrafo">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim tempora minima quo reiciendis eaque
                    aut
                    quibusdam dignissimos, sed placeat quis molestiae corrupti. Non vitae impedit iure, provident
                    molestiae
                    officiis nesciunt.
                    Nostrum quibusdam culpa facere quisquam, vel ipsa quaerat error tempora iure in earum ratione.
                    Numquam
                    delectus quibusdam facilis neque. Esse earum sint totam dignissimos officia perferendis eaque cumque
                    possimus id?
                    Quaerat voluptatem, in nostrum ex, est delectus recusandae fuga voluptatum enim at, quod rerum cum
                    quo
                    reprehenderit! Asperiores eveniet sunt eligendi sapiente exercitationem, non voluptatem error nulla,
                    dignissimos repellendus maiores.
                    Repudiandae ea amet iure fuga, enim suscipit iusto nam sit distinctio facilis exercitationem? Fugiat
                    delectus vitae molestias cupiditate inventore. Dolore iure rerum optio cumque sequi necessitatibus
                    similique cum debitis asperiores?
                    Qui libero, id quasi commodi illum quisquam. At deleniti eius numquam aperiam facere quisquam
                    possimus
                    corrupti expedita veniam exercitationem. Excepturi quaerat quisquam tenetur fuga, consequatur
                    voluptas
                    architecto ut quos quibusdam!
                    Quaerat voluptatem, in nostrum ex, est delectus recusandae fuga voluptatum enim at, quod rerum cum
                    quo
                    reprehenderit! Asperiores eveniet sunt eligendi sapiente exercitationem, non voluptatem error nulla,
                    dignissimos repellendus maiores.
                    Repudiandae ea amet iure fuga, enim suscipit iusto nam sit distinctio facilis exercitationem? Fugiat
                    delectus vitae molestias cupiditate inventore. Dolore iure rerum optio cumque sequi necessitatibus
                    similique cum debitis asperiores?
                    Qui libero, id quasi commodi illum quisquam. At deleniti eius numquam aperiam facere quisquam
                    possimus
                    corrupti expedita veniam exercitationem. Excepturi quaerat quisquam tenetur fuga, consequatur
                    voluptas
                    architecto ut quos quibusdam!
                    Ea veniam harum eaque sed voluptatibus, quae praesentium ex, nihil corporis amet libero animi quas
                    nemo
                    aut ipsa doloremque eos eum qui voluptates. Animi, magnam quis. Voluptatum a totam quaerat!
                    Tenetur laboriosam minus suscipit voluptas perferendis cumque sequi. Ullam hic perferendis quis,
                    impedit
                    adipisci suscipit quidem cum veritatis fugiat dignissimos iste. Fugiat laborum fuga maiores,
                    expedita
                    necessitatibus ipsa atque. Necessitatibus.
                    Cum vel molestiae cumque dolorem obcaecati expedita labore aliquid corporis consectetur. Repellat
                    libero, labore, esse error itaque quas doloremque provident qui necessitatibus architecto magni
                    alias
                    asperiores, velit porro recusandae voluptates.
                </p>
            </div>

        </section>

        <section id="modal-container-d">
            <div class="modal-d modal-close-d">
                <h3>Delete item</h3>
                <textarea name="" id="text-d" cols="30" rows="10" placeholder="Reason..."></textarea>
                <button class="close-d bnt-d">Yes, Delete</button>
                <button class="close-d btn-d2">Cancel</button>

            </div>
        </section>

    </div>
    <script src="/src/js/main.js" type="module"></script>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous"></script>
</body>

</html>