<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Charlotte</title>
</head>

<body>

    <div class="container">

        <section id="rectangle">
            <a href="" class="logo"></a>
            <div class="content">
                <ul class="list">
                    <li><a href="">Students</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">Courses</a></li>
                    <li><a href="">Activities</a></li>
                    <li><a href="">Resources</a></li>
                    <li><a href="">Certificates</a></li>
                    <li><a href="">Perzonalized classes</a></li>

                </ul>
                <ul class="list">
                    <li><a href="">Promotions</a></li>
                    <li><a href="">Membersips</a></li>
                    <li><a href="">Referrals</a></li>
                    <li><a href="">Sponsors</a></li>
                    <li class="press"><a href="./index.html">Reviews</a>
                </ul>
            </div>
        </section>

        <section id="nav">
            <div class="boton">
                <a href="./index.html" class="boton-nav-3">Published</a>

                <a href="./comment.html" class="boton-nav-4">In list</a>
            </div>
            <div>
                <i class="fas fa-bell"></i>
                <i class="far fa-envelope"></i>
                <a href="" class="profile"></a>
            </div>

        </section>

        <section id="cont-new-review">
            <input class="title" type="text" name="title" placeholder="Title" required>

            <div id="list-select">
                <p class="p1">Create New Riview</p>
                <select class="list-one" name="transporte">

                    <option>Mention</option>

                    <option>Cordinator</option>

                    <option>Developer</option>

                </select>

                <select class="list-two" name="transporte">

                    <option>Type</option>

                    <option>Avión</option>

                    <option>Tren</option>

                </select>

                <input class="author" type="text" name="author" placeholder="Autor">

                <div id="area">
                    <div class="bot"></div>
                    <textarea name="" class="txtarea" cols="30" rows="10"> </textarea>
                </div>
                <button id="create-review">Create Review</button>


            </div>




        </section>




    </div>
    <script src="https://kit.fontawesome.com/d65d9c50b6.js" crossorigin="anonymous"></script>
</body>

</html>